<footer class="footer">
        <div class="footer_top">
            <div class="container">
                <div class="row">
                    <div class="col-xl-4 col-md-4 col-lg-4">
                        <p class="title-footer">Ərazi</p>
                          <h4 class="location-baku">
                              <a href=""> <i class="fas fa-map-marker-alt "> </i>  Bakı, Azərbaycan</a> </h4>
                    </div>
                    <div class="col-xl-4 col-md-4 col-lg-4">
                            <p class="title-footer">Email</p>
                            <h4 class="location-baku"><a href=""><i class="fas fa-envelope"></i> vincode@mail.com</a> 
                            </h4>
                      </div>
                      <div class="col-xl-4 col-md-4 col-lg-4">
                            <p class="title-footer">Contact</p>
                            <h4 class="location-baku"><a href=""><i class="fas fa-phone"></i>   +994 12 345 67 89</a>  </h4>
                      </div>
                </div>
                <div class="row">
                    <div class="col-xl-12 col-md-12 col-lg-12" >
                        <p class="soon-footer" href="">
                                <i class="fab fa-facebook-f fqe" style="color: blue;"></i>
                                <i class="fab fa-instagram fqe" style="color: crimson;"></i>
                                <i class="fab fa-invision fqe" style="color:darkgreen;"></i>
                                <i class="fab fa-twitter fqe" style="color: #04c9e8;"></i>
                        </p>

                    </div>
                </div>
            </div>
        </div>
        <div class="copy-right_text">
            <div class="container">
                <div class="footer_border"></div>
                <div class="row">
                    <div class="col-xl-12">
                        <p class="copy_right text-center">
                                Vincodenin  © Bütün hüquqlar qorunur · 2019 

                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>