<header>
        <div class="header-area ">
            <div id="sticky-header" class="main-header-area">
                <div class="container-fluid p-0">
                    <div class="row align-items-center no-gutters">
                        <div class="col-xl-2 col-lg-2">
                            <div class="logo-img">
                                <h2 class="logo-h2" href="index.html">
                                   <a href="index.html"> <span style="color: #fd2a31;">Vin</span><span style="color: white;">Code</span>
                                </h2></a>
                            </div>
                        </div>
                        <div class="col-xl-7 col-lg-7">
                            <div class="main-menu  d-none d-lg-block">
                                <nav>
                                    <ul id="navigation">
                                        <li id="icon"><a  class="active" href="{% url 'home' %}">Ana Sehife</a></li>
                                        <li id="icon"><a  href="{% url  'about' %}">Haqqında</a></li>
                                        <li id="icon"><a  href="{% url 'contact' %}">Əlaqə</a></li>
                                        <li id="icon"> <a href="#test-form" class="login popup-with-form">
                                             <i class="flaticon-user"></i>
                                             <span>Daxil_ol</span></a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 d-none d-lg-block">
                            <div class="log_chat_area d-flex align-items-center">
                               
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>